# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# dotenv environment variables file
.env

# Database
*.sqlite3

# VS Code
.vscode/
.history/

# PyCharm
.idea/
*.iml

# JetBrains
.idea/
*.iml
out/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log
logs/

# Static files
staticfiles/

# Media files
media/

# Uvicorn logs
uvicorn.log
